*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
*/*private.xml
/*[Dd]ebug*/
/*[Rr]elease*/
*private.xml
*private_key.pepk
*videoPlayerKey.jks
*.pepk
*.jks